yfinance
pandas
numpy
matplotlib.pyplot 
matplotlib.cm 
sklearn.preprocessing 
StandardScaler
sklearn.decomposition 
PCA
scipy.spatial.distance 
cdist
sklearn.metrics 
silhouette_score
sklearn.metrics 
silhouette_samples
sklearn.cluster 
KMeans
random
sklearn.preprocessing
MinMaxScaler
tensorflow.keras.models
Sequential
tensorflow.keras.layers
LSTM
Dense
Dropout
sklearn.metrics
mean_squared_error
plotly.subplots
make_subplots
plotly.graph_objects
scipy.optimize
